@media (max-width: 575.98px) { 
   
    .btn-custom{
        margin: 10px 15px;
    }
 
    footer h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .col-md-2{
        display: flex;
        justify-content: flex-start;
    }

    .navimg{
        width: 110px;
    }
}

 @media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 3em;
    }
 
    .btn-custom{
        margin: 10px 15px;
    }
 
 
    footer h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }
 
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 4em;
    }
 
 
    footer h5{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 1px;
    }
 
    
}

 @media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 5em;
    }
}

 @media (min-width: 1200px) {
    h1{
        font-size: 6em;
    }
}

body{
    background: url(capa.png), 
                url(ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
   background-attachment: fixed;     
   font-family: Helvetica, arial, sans-serif;                     
}

body, html, #home{
    height: 100%;
    overflow-x: hidden;
    
}

.btn.botao-aproveite-spotify{
    background: #7c25f8;
    border: 0;
    border-radius: 25px;
}

.botao-aproveite-spotify:hover{
   color: #6207e3;
   background-color: #fff;
   border: 0;
}

.btn.botao-spotify-premium{
   color: #fff;
   background: transparent;
}

.botao-spotify-premium:hover{
    color: #000;
    background-color: #fff;
    border-radius: 25px;
}


.nav-link{
    color: #fff;
}

nav{
   background-color: #000;
   color: #fff;
}

.nav-link:hover{
    color: #9bf0e1;
    transition: 0.25s ease-in-out;
}

.musica-para-todos{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
    color: white;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: 0.2s, color 0.2s;
}

.o-que-spotify-tem{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 40px;
}

.o-que-spotify-tem-texto h1, h3{
   color: #7c26f8;
   letter-spacing: -0.06em;
}

.facil, h2{
    margin-top: 50px;
}

.facil-textos{
   color: #fff;
}

.facil-textos{
   color: #9bf0e1;
}

.facil-paragrafos{
   color: #fff;
}

h2.facil-paragrafos{
    margin-top: 55px;
 }

.rotacionar{
   -ms-transform: rotate(30deg);
   -webkit-transform: rotate(30deg);
   transform: rotate(30deg);
   padding-left: 70px;
}

footer{
   background-color: black;
   padding: 80px 0 20px 0;
   position: relative;
}

footer h5{
   color: #919496;
   text-transform: uppercase;
   margin-left: 0;
}

footer a{
   padding: 5px;
   font-family: sans-serif;
   color: #fff;
}

footer a:hover{
   color: #9bf0e1;
   text-decoration: none;
}

footer ul{
   list-style: none;
}

footer ul li{
   float: right;
}

.direitos-reservados{
   padding: 70px 0 20px 0;
   color: #fff;
}

